body {
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
}

#main-content {
    padding: 0px;
}

#new-experience .modal-body {
    width: 50%;
}

#new-experience .inputbox {
    width: 100%;
}

.highlightContainer {
    margin: 15px 0px 15px;
    padding: 10px 10px 20px;
    background-color: #cccccc;
    border-color: #999999;
    border-radius: 3px;
}

.experienceHeading {
    font-size: 1.75em;
    text-align: center;
}

.exprienceTitle {
    text-align: center;
    font-size: 2em;
}

.addButton {
    border-radius: 10px;
}

.experienceColumn {
    font-size: 1.2em;
}

.experiencePreview {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    height: 300px;
}

.previewImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.previewTitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;

    color: white;
    background-color: rgba(50,50,50,.8);

    padding-left: 15px;
    padding-top: 10px;
}

#spotlight-modal .modal-body {
    padding: 0 0 0 20px;
}

.experienceSpotlight {
    padding: 20px 20px 20px;
}

.experienceSpotlight img {
    height: 450px;
    width: 750px;
    object-fit: contain;
}

.experience-details {
    background-color: #b3b3b3;
    padding-right: 30px;
    margin-right: 0;
}