body {
    /* box-sizing: border-box; */
    font-family: "Open Sans", sans-serif;
    background-color: #cccccc;
}

#main-content {
    padding: 0px;
}

.adminIntro {
    text-align: center;
    padding: 5%;
    margin: auto;
}

.introduction {
    width: 75%;
    margin: auto;
    text-align: center;
}

.resume_blurb {
    width: 75%;
    margin: auto;
    text-align: center;
}

.resume_blurb a {
    background: #4287f5;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

#resume {
    width: 70%;
    display: block;
    margin: 40px auto;
}

#new-experience .modal-body {
    width: 50%;
}

#new-experience .inputbox {
    width: 100%;
}

.section{
    margin: 15px 0px 5px;
    padding: 10px;
    background-color: #dddddd;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 0 rgba(50,55,70,.3);

    box-sizing: border-box;
}

.subheading {
    font-size: 1.5em;
    font-weight: 30;
    /* padding-left: 15px; */
}

.experienceHeading {
    font-size: 1.75em;
    text-align: center;
}

.addButton {
    border-radius: 10px;
}

.experienceColumn {
    font-size: 1.2em;
}

.experiencePreview {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;

    box-shadow: 1px 2px 5px 0 rgba(50,55,70,.3);
}

.previewImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.previewTitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 15%;

    color: white;
    background-color: rgba(50,50,50,.8);

    padding: 10px 15px;
}

.sidebar {
    padding: 15px;
}

.sidebar div {
    font-size: 0.8em;
}

.subheading2 {
    color: #405360;
    font-weight: bold;
    font-size: 0.9em;
    margin: 20px 0px 10px 10px;
}