<div id="header" class="container-fluid">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" ui-sref="default.home">
            <img id="logo-img" src="images/logo.png">
            <span id="brandName">Bjorn Johnson</span>
        </a>

        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" ui-sref="default.work">Employment</a>
                <a class="nav-item nav-link" ui-sref="default.projects">Projects</a>
                <a class="nav-item nav-link" ui-sref="default.resume">Resume</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Contact
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="dropdown-item" href="#">bjorn@lundjohnson.com</div>
                        <div class="dropdown-item" href="#">(408) 688-1394</div>
                        <a class="dropdown-item" target="_blank"
                            href="https://linkedin.com/in/bjorn-l-johnson">
                            <img class="social-logo" src="images/linkedinlogo.png">
                            LinkedIn
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav> <!-- navbar -->
</div> <!-- header -->


<!-- Main Content -->
<div id="page">
    <div ui-view></div>
</div>