<div class="row highlightContainer section">
    <div class="subheading col-lg-12">{{$ctrl.type}}</div>
    <hr>
    <div class="experienceColumn {{$ctrl.size}}"
        ng-repeat="experience in $ctrl.experiences">
        <div class="experiencePreview" ng-click="$ctrl.openModal('spotlight-modal', experience)">
            <div class="previewTitle">{{experience.name}}</div>
            <image src="images/{{experience.coverPhoto}}" class="img-fluid previewImage">
            </image>
        </div>
    </div>
</div>

<modal id="spotlight-modal" class="defaultModal">
    <div class="modal-body row">
        <div class="experienceSpotlight col-lg-9">
            <div class="subheading">{{$ctrl.spotlight.name}}</div>
            <div class="subheading3">{{$ctrl.spotlight.date}}</div>
            <div class="slides">
                <image src="images/{{$ctrl.spotlight.currImg}}" class="img-fluid">
                </image>
                <div class="prev" ng-click="$ctrl.prevImg()">
                    &#10094;
                </div>
                <div class="next" ng-click="$ctrl.nextImg()">
                    &#10095;
                </div>
            </div>
            <div class="slideStatus">{{$ctrl.spotlight.i+1}} / {{$ctrl.spotlight.images.length}}</div>
            <div class="description">{{$ctrl.spotlight.description}}</div>
        </div>
        <div class="experience-details col-lg-3">
            <div class="subheading3">{{$ctrl.spotlight.type}}</div>
            <hr>
            <div class="subheading3">Skills</div>
            <div class="skills" ng-repeat="skill in $ctrl.spotlight.skills">
                {{skill}}
            </div>
            <hr>
        </div>
    </div>
</modal>