<div class="row highlightContainer">
    <div class="experienceHeading col-lg-12">
        <h2 class="experienceTitle">Highlights</h2>
    </div>
    
    <div class="experienceColumn col-lg-4" ng-repeat="experience in $ctrl.experiences">
        <div class="experiencePreview" 
        ng-click="$ctrl.openModal('spotlight-modal', experience)">
            <div class="previewTitle">{{experience.name}}</div>
            <image src="{{experience.coverPhoto}}" class="img-fluid previewImage">
            </image>
        </div>
    </div>
</div>

<modal id="spotlight-modal" class="defaultModal">
    <div class="modal-body row">
        <div class="experienceSpotlight col-lg-9">
            <div>{{$ctrl.spotlight.name}}</div>
            <div>{{$ctrl.spotlight.date}}</div>
            <image src="{{$ctrl.spotlight.coverPhoto}}" class="img-fluid">
            </image>
            <div>Description: {{$ctrl.spotlight.description}}</div>
        </div>
        <div class="experience-details col-lg-3">
            <div class="experience-type">{{$ctrl.spotlight.type}}</div>
            <div class="skill-label">Skills:</div>
            <div class="skills">{{$ctrl.spotlight.skills}}</div>
        </div>
    </div>
</modal>