<div id="cover">
    <div class="jumbotron">
        <h1 id="title">Bjorn Johnson</h1>
    </div>
    <div id="cover-nav">
        <button ui-sref="default.home">Home</button>
        <button ui-sref="default.work">Employment</button>
        <button ui-sref="default.projects">Projects</button>
        <button ui-sref="default.resume">Resume</button>
    </div>
</div>

<div id="main-content" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="section">
                <div id="introduction">
                    I'm an undergraduate Computer Scientist seeking internship opportunities relating to machine learning, robotics, and controls. I built this website from scratch using AngularJS to showcase some of my experiences and skills, so please browse around and get in contact with me about anything that interests you!
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sidebar section">
                <h2 class="subheading">Overview</h2>
                <hr>
                <div class="subheading2">Education</div>
                <div>Bachelor of Science - Computer Science</div>
                <div>University of California - San Diego</div>
                <div>GPA: 3.94</div>
                <div class="subheading2">Work Experience</div>
                <div>Robust Software Engineering Intern</div>
                <div>NASA Ames Research Center</div>
                <div class="subheading2">Lives in</div>
                <div>Campbell, CA</div>
            </div>
        </div>
        <div class="col-lg-9">
            <highlights></highlights>
        </div>
    </div>
</div>

<div ui-view></div>