<div class="row">
    <div class="col-lg-12">
        <div class="section">
            <div id="introduction">
                I'm an undergraduate Computer Scientist seeking internship opportunities relating to machine learning, robotics, and controls. I built this website from scratch using AngularJS to showcase some of my experiences and skills, so please browse around and get in contact with me about anything that interests you!
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-3">
        <div class="sidebar section">
            <h2 class="subheading">Overview</h2>
            <hr>
            <div class="subheading2">Education</div>
            <div>B.S. - Computer Science</div>
            <div>UC San Diego</div>
            <div>GPA: 3.94</div>
            <div class="subheading2">Current Employment</div>
            <div>Intelligent Systems Intern</div>
            <div>NASA Ames Research Center</div>
            <div class="subheading2">Lives in</div>
            <div>Campbell, CA</div>
        </div>
    </div>
    <div class="col-xl-10 col-md-9">
        <experiences type="Highlights" size="col-lg-6 col-xl-4"></experiences>
    </div>
</div>