<div class="row">
    <div class="col-lg-3">
        <div class="sidebar section">
            <h2 class="subheading">Overview</h2>
            <hr>
            <div class="subheading2">Education</div>
            <div>Bachelor of Science - Computer Science</div>
            <div>University of California - San Diego</div>
            <div>GPA: 3.94</div>
            <div class="subheading2">Work Experience</div>
            <div>Robust Software Engineering Intern</div>
            <div>NASA Ames Research Center</div>
            <div class="subheading2">Lives in</div>
            <div>Campbell, CA</div>
        </div>
    </div>
    <div class="col-lg-9">
        <experiences type="Work Experiences" size="col-lg-12"></experiences>
    </div>
</div>